.articles
  &__container
  &__inner
    padding: 60px 0
    gap: 30px
  &__main
    display: grid
    grid-template-rows: repeat(4, 244px 1px) 244px
    width: 848px
    grid-column: span 3
    border-radius: 10px
    overflow: hidden
    background-color: $text-color
  &__divider
    display: block
    max-width: 100%
    height: 1px
    background: #D9DADB
    margin: 0 25px
    &_full
      margin: 0
  &__item
    padding: 25px
    position: relative
    display: grid
    grid-template-columns: 336px 437px
    column-gap: 25px
    height: 100%
    text-decoration: none
    &_additional-page
      grid-column: span 3
      gap: 0
      grid-template-columns: 1fr 946px 1fr
      padding: 60px 0 70px
  &__img
    width: 100%
    height: 100%
    object-fit: cover
    &_additional-page
      position: relative
      z-index: -2
    &-wrap
      width: 336px
      height: 195px
      overflow: hidden
      &_additional-page
        position: absolute
        width: 100%
        height: 100%
        background: linear-gradient(0deg, rgba(38, 45, 51, 0.75), rgba(38, 45, 51, 0.75))
  &__info
    width: 437px
    display: grid
    grid-template-rows: repeat(3, min-content) 1fr
    &_additional-page
      grid-column: 2
      position: relative
      z-index: 5
      width: 100%
    &-group
      margin-bottom: 5px
      align-self: end
      display: flex
      align-items: center
      &_additional-page
        margin: 0
    &-top-group
      display: flex
      justify-content: space-between
      align-items: center
  &__bookmark
    position: absolute
    right: 25px
    top: 25px
    fill: #BCBFC2
    z-index: 5
    cursor: pointer
    &_additional-page
      display: flex
      align-items: center
      justify-content: center
      width: 30px
      height: 30px
      left: -97px
      top: 90px
    &.checked
      fill: #FF4F52
    &-icon
      fill: inherit
  &__nav-menu
    display: flex
    align-items: center
  &__section
    margin-top: 5px
  &__link
    text-decoration: none
    color: $text-color
    font-weight: 900
    font-size: 14px
    line-height: 20px
    &_home
      margin-right: 35px
    &_prev
      margin-right: 20px
    &-icon
      fill: $text-color
      margin-left: 5px
      &_home
      &_inverted
        margin-left: 0
        margin-right: 5px
  &__title
    margin-top: 15px
    margin-bottom: 10px
    font-family: Roboto Slab
    font-weight: bold
    font-size: 20px
    line-height: 25px
    color: #262D33
    &_additional-page
      width: 80%
      font-size: 55px
      line-height: 70px
      color: $text-color
      margin-top: 50px
      margin-bottom: 30px
  &__text
    margin: 0
    font-size: 14px
    line-height: 20px
    color: #4B5157
    &_additional-page
      width: 69%
      font-size: 18px
      line-height: 30px
      color: $text-color
      mix-blend-mode: normal
      opacity: 0.85
      margin-bottom: 43px
  &__data
    font-size: 12px
    line-height: 15px
    color: #939699
    &_additional-page
      color: #FFFFFF
      mix-blend-mode: normal
      opacity: 0.85
  &__clock
    &-icon
      margin-right: 5px
      fill: rgba(255, 255, 255, 0.4)
  &__like
    &-icon
      margin-left: 10px
      margin-right: 5px
      fill: #939699
      &_additional-page
        margin-left: 20px
        fill: rgba(255, 255, 255, 0.4)
    &-counter
      font-size: 12px
      line-height: 15px
      color: #939699
      &_additional-page
        color: #FFFFFF
        mix-blend-mode: normal
        opacity: 0.85
  &__comment
    &-counter
      font-size: 12px
      line-height: 15px
      color: #939699
      &_additional-page
        color: #FFFFFF
        mix-blend-mode: normal
        opacity: 0.85
    &-icon
      margin-left: 10px
      margin-right: 5px
      fill: #939699
      &_additional-page
        margin-left: 20px
        fill: rgba(255, 255, 255, 0.4)
  &-extra
    &__additional
      height: 770px
      display: grid
      grid-template-rows: min-content repeat(7, 1px 94px) 1px min-content
      border-radius: 10px
      overflow: hidden
      background-color: $text-color
    &__rubric
      margin-top: 20px
      margin-bottom: 19px
      text-align: center
      font-weight: 900
      font-size: 14px
      line-height: 20px
      letter-spacing: 0.5px
      text-transform: uppercase
      color: #262D33
    &__divider
      display: block
      max-width: 100%
      height: 1px
      background: #D9DADB
      margin: 0 25px
      &_full
        margin: 0
    &__block
      display: flex
      position: relative
      padding: 0 25px
      align-items: center
      &-img
        height: 60px
        width: 60px
        object-fit: cover
      &-info
        margin-left: 10px
      &-span
        display: block
        font-size: 14px
        line-height: 20px
        color: #4B5157
      &-data
        margin-top: 5px
        font-size: 12px
        line-height: 15px
        color: #939699
      &-count
        position: absolute
        right: 25px
        top: 20px
        font-family: Lato
        font-style: italic
        font-weight: 800
        font-size: 70px
        line-height: 50px
        color: #262D33
        opacity: 0.08
    &__button
      padding-top: 11px
      padding-bottom: 14px
      ont-weight: 900
      font-size: 14px
      line-height: 20px
      color: #262D33
      border: none
      outline: none
      cursor: pointer
      background-color: $text-color

@media (max-width: 1200px)
  .articles
    &__main
      width: 713px
      grid-template-rows: repeat(4, min-content 1px) min-content
    &__item
      grid-template-columns: 285px 383px
      padding: 15px
      column-gap: 15px
      &_additional-page
        grid-column: span 3
        gap: 0
        grid-template-columns: 1fr 765px 1fr
        padding: 60px 0 72px
    &__img
      &-wrap
        width: 285px
        height: 214px
        &_additional-page
          width: 100%
          height: 100%
    &__info
      width: 383px
      &_additional-page
        width: 100%
    &__divider
      margin: 0 15px
    &__bookmark
      right: 15px
      top: 15px
      &_additional-page
        left: -97px
        top: 90px
    &__title
      font-size: 18px
      &_additional-page
        font-size: 48px
        line-height: 60px
        width: 90%
    &-extra
      &__rubric
        font-size: 12px
      &__block
        padding: 0 15px
        &-count
          right: 15px
        &-span
          font-size: 12px

@media (max-width: 992px)
  .articles
    &__main
      width: 700px
      grid-column: span 3
    &__item
      grid-template-columns: 285px 370px
      &_additional-page
        grid-column: span 3
        grid-template-columns: 1fr 590px 1fr
        padding: 50px 62px
    &__bookmark
      &_additional-page
        left: -58px
    &__title
      &_additional-page
        font-size: 40px
        line-height: 60px
        width: 100%
    &__text
      &_additional-page
        width: 80%
        font-size: 16px
        line-height: 25px
    &__info
      width: 370px
      &_additional-page
        width: 100%
    &-extra
      &__additional
        grid-column: span 3
        width: 700px
        height: 100%
        grid-template-rows: min-content repeat(2, 1px 94px) 1px min-content
        grid-template-columns: repeat(2, 1fr 1px) 1fr
      &__block
        padding: 0 25px
        &:last-of-type
          display: none
        &:nth-of-type(1), &:nth-of-type(3), &:nth-of-type(5)
          grid-row: 3
        &:nth-of-type(2), &:nth-of-type(4), &:nth-of-type(6)
          grid-row: 5
        &:nth-of-type(1), &:nth-of-type(2)
          grid-column: 1
        &:nth-of-type(3), &:nth-of-type(4)
          grid-column: 3
        &:nth-of-type(5), &:nth-of-type(6)
          grid-column: 5

      &__button, &__rubric
        grid-column: span 5
      &__divider
        &:last-of-type, &:first-of-type
          grid-column: span 5
        &:nth-last-of-type(2)
          display: none
        &:nth-of-type(3)
          height: 159px
          width: 1px
          grid-column: 2
          grid-row: 3 / spam 2
          margin: 15px 0
        &:nth-of-type(5)
          height: 159px
          width: 1px
          grid-column: 4
          grid-row: 3 / spam 2
          margin: 15px 0
        &_full
          margin: 0

@media (max-width: 767px)
  .articles
    &__inner
      padding: 50px 0
    &__main
      grid-column: span 2
      width: 527px
    &__item
      grid-template-columns: 220px 262px
      &_additional-page
        grid-template-columns: 1fr 527px 1fr
        padding-top: 90px
    &__bookmark
      &_additional-page
        top: 0
        left: 0
        width: 20px
        height: 20px
      &-icon
        &_additional-page
          width: 14px
          height: 18px
    &__title
      font-size: 16px
      line-height: 20px
      &_additional-page
        font-size: 38px
        line-height: 58px
    &__text
      width: 90%
    &__info
      width: 262px
      &_additional-page
        width: 100%
      &-top-group
        margin-left: 50px
    &__img
      &-wrap
        width: 220px
        height: 240px
        &_additional-page
          width: 100%
          height: 100%
    &-extra
      &__additional
        grid-column: span 2
        width: 527px
        grid-template-rows: min-content repeat(3, 1px 94px) 1px min-content
        grid-template-columns: 1fr 1px 1fr
      &__block
        padding: 0 15px
        &:nth-of-type(1), &:nth-of-type(3), &:nth-of-type(5)
          grid-column: 1
        &:nth-of-type(2), &:nth-of-type(4), &:nth-of-type(6)
          grid-column: 3
        &:nth-of-type(1), &:nth-of-type(2)
          grid-row: 3
        &:nth-of-type(3), &:nth-of-type(4)
          grid-row: 5
        &:nth-of-type(5), &:nth-of-type(6)
          grid-row: 7

      &__rubric
        grid-column: span 3
      &__button
        grid-column: 1 / span 3
        grid-row: 9
      &__divider
        &:first-of-type
          grid-column: span 3
        &:last-of-type
          grid-column: 1 / span 3
          grid-row: 8
        &:nth-of-type(3), &:nth-of-type(5)
          width: 233px
          height: 1px
          margin: 0 25px
        &:nth-of-type(2), &:nth-of-type(3)
          grid-row: 4
        &:nth-of-type(4), &:nth-of-type(5)
          grid-row: 6
        &:nth-of-type(2), &:nth-of-type(4)
          grid-column: 1
        &:nth-of-type(3), &:nth-of-type(5)
          grid-column: 3
        &:nth-of-type(6)
          height: 254px
          width: 1px
          grid-column: 2
          grid-row: 3 / spam 3
          margin: 15px 0
        &_full
          margin: 0

@media (max-width: 650px)
  .articles
    &__item
      &_additional-page
        grid-template-columns: 1fr
        grid-template-rows: 1fr
    &__info
      &-top-group
        margin-left: 0
        flex-direction: column
        align-items: flex-start
    &__title
      &_additional-page
        font-size: 30px
        line-height: 55px
    &__link
      &_home
        margin-right: 20px
      &_prev
        margin-right: 15px
    &__nav-menu
      order: -1
      margin-bottom: 25px
    &__bookmark
      &_additional-page
        top: 50px
        left: 94%
@media (max-width: 576px)
  .articles
    &__inner
      padding: 40px 0
    &__main
      grid-column: span 1
      width: 100%
    &__item
      grid-template-columns: 1fr
      grid-template-rows: min-content min-content
      padding: 25px
      &_additional-page
        grid-template-columns: 1fr 87% 1fr
        grid-template-rows: 1fr
        padding: 90px 0 40px
    &__info
      width: 100%
      height: 240px
      &_additional-page
        height: 100%
    &__img
      &-wrap
        width: 100%
        height: 240px
        margin-bottom: 20px
        &_additional-page
          height: 100%
          margin-bottom: 0
    &__bookmark
      top: 290px
      right: 25px
      &_additional-page
        top: 50px
        left: 94%
    &__divider
      margin: 0 25px
    &-extra
      &__additional
        grid-column: span 1
        width: 100%
        grid-template-columns: 1fr
        grid-template-rows: min-content repeat(7, 1px 94px) 1px min-content
      &__block
        padding: 0 25px
        &:nth-of-type(1)
          grid-column: 1
        &:nth-of-type(2)
          grid-column: 1
          grid-row: 5
        &:nth-of-type(3)
          grid-column: 1
          grid-row: 7
        &:nth-of-type(4)
          grid-column: 1
          grid-row: 9
        &:nth-of-type(5)
          grid-column: 1
          grid-row: 11
        &:nth-of-type(6)
          grid-column: 1
          grid-row: 13
        &:nth-of-type(7)
          display: flex
          grid-column: 1
          grid-row: 15

      &__rubric
        grid-column: 1 / span 1
      &__button
        grid-column: 1 / span 1
        grid-row: 17
      &__divider
        &:first-of-type
          grid-column: 1 / span 1
        &:nth-of-type(2)
          grid-column: 1
          grid-row: 4
        &:nth-of-type(3)
          width: 100%
          grid-column: 1
          grid-row: 6
        &:nth-of-type(4)
          grid-column: 1
          grid-row: 8
        &:nth-of-type(5)
          width: 100%
          grid-column: 1
          grid-row: 10
        &:nth-of-type(6)
          width: 100%
          height: 1px
          grid-column: 1
          grid-row: 12
        &:nth-of-type(7)
          display: block
          grid-row: 14
        &:last-of-type
          grid-column: 1 / span 1
          grid-row: 16
        &_full
          margin: 0

@media (max-width: 430px)
  .articles
    &__info
      height: 275px
      &_additional-page
        height: 100%
      &-top-group
        margin-left: 0
        flex-direction: column
        align-items: flex-start
    &__title
      &_additional-page
        font-size: 20px
        line-height: 45px
    &__text
      &_additional-page
        font-size: 14px
    &__link
      &_home
        margin-right: 20px
      &_prev
        margin-right: 15px
    &__nav-menu
      order: -1
      margin-bottom: 25px
    &__bookmark
      &_additional-page
        top: 50px
        left: 94%

@media (min-width: 992px)
  .articles
    &__bookmark
      transition: all 0.3s ease-in-out
      &:hover
        transform: scale(1.1)
    &__link
      position: relative
      &::after
        background-color: $text-color
        display: block
        content: ''
        height: 1px
        width: 0
        transition: all 0.3s ease-in-out
      &:hover, &:focus
        &::after
          width: 100%

    &__item
      transition: all 0.3s ease-in-out
      &:hover
        box-shadow: inset 0 3px 10px rgba(0, 0, 0, 0.2)
