.author-info
  display: flex
  align-items: center
  height: 45px
  width: 140px
  text-decoration: none
  &__avatar
    width: 45px
    height: 45px
    border-radius: 50%
  &__spans
    display: flex
    justify-content: center
    margin-left: 10px
    flex-direction: column
    color: $text-color
  &__name
    font-size: 14px
    line-height: 20px
    mix-blend-mode: normal
    opacity: 0.85
  &__profession
    font-size: 12px
    line-height: 15px
    opacity: 0.4

@media (max-width: 576px)
  .author-info
    &__avatar
      width: 35px
      height: 35px
