.nav-menu
  display: flex
  justify-content: space-between
  width: 543px
  &__link
    font-weight: 900
    font-size: 14px
    line-height: 20px
    text-decoration: none
    color: $text-color
    white-space: nowrap

@media (max-width: 992px)
  .nav-menu
    width: 370px
    &__link
      font-size: 12px
      line-height: 20px

@media (max-width: 767px)
  .nav-menu
    display: none
