.slider
  position: relative
  &__wrap
    width: 100%
    height: 100%
    &_acticale
      position: relative
      height: 555px
      overflow: hidden
  &__pagination
    display: flex
    justify-content: space-between
    align-items: center
    position: absolute
    bottom: 40px
    left: 50%
    transform: translate(-50%, 0)
    width: 108px
    height: 20px
    z-index: 5
  &__button
    border-radius: 50%
    width: 8px
    height: 8px
    background: #D9DADB
    opacity: 0.4
    &.active
      background: $text-color
      opacity: 1
  &__buttons
    fill: rgba(255, 255, 255, 0.4)
    &-bar
      padding: 0 35px
      position: absolute
      width: 100%
      display: flex
      justify-content: space-between
      top: 50%
      transform: translate(0, -50%)
      z-index: 99
    &_prev
      transform: rotate(180deg)

@media (max-width: 767px)
  .slider
    &__wrap
      &_acticale
        height: 310px
    &__buttons
      &-icon
        width: 40px
        height: 40px
